<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo</title>
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        
        <div id="app" class="center">
            <div class="d_flex_col">
                <img src="./assets/img/logo.png" alt="">
                <div class="add d_flex">
                    <input id="elementoLista" type="text" placeholder=" Aggiungi alla lista " v-model="frase">
                    <button @click="aggiungiAllaLista" > ADD </button>
                </div>
                <ul>
                    <!-- <li class="d_flex space_between">
                        <p>ciao</p>
                        <div><i class="fas fa-times"></i></div>
                    </li> -->
                    <li class="d_flex space_between" v-for="elementoLista,index in list">
                        <p>{{elementoLista}}</p>
                        <div @click="remove(index)" ><i class="fas fa-times"></i></div>
                    </li>
                    
                </ul>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>